<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<body>
<div th:fragment="footer" >
<footer class="cm-footer"><span class="pull-left">Connected as John Smith</span><span class="pull-right">&copy; PAOMEDIA SARL</span></footer>
<div th:fragment="script">

<script src="http://localhost:1111/js/lib/jquery-2.1.3.min.js" ></script>
<script src="http://localhost:1111/js/jquery.mousewheel.min.js" ></script>
<script src="http://localhost:1111/js/jquery.cookie.min.js" ></script>
<script src="http://localhost:1111/js/fastclick.min.js" ></script>
<script src="http://localhost:1111/js/bootstrap.min.js" ></script>
<script src="http://localhost:1111/js/clearmin.min.js" ></script>
<script src="http://localhost:1111/js/demo/home.js" ></script>
</div>
</div>
</body>
</html>