<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

<title>Login1</title>
<link rel="stylesheet" type="text/css" href="http://localhost:1111/css/bootstrap-clearmin.min.css"/>
<link rel="stylesheet" type="text/css" href="http://localhost:1111/css/roboto.css" />
<link rel="stylesheet" type="text/css" href="http://localhost:1111/css/material-design.css" >
<link rel="stylesheet" type="text/css" href="http://localhost:1111/css/small-n-flat.css" >
<link rel="stylesheet" type="text/css" href="http://localhost:1111/css/font-awesome.min.css" />
</head>