<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<body >
<div th:fragment="menu" id="cm-menu">
<nav class="cm-navbar cm-navbar-primary">
    <div class="cm-flex"><a href="index.html" th:href="@{'/login'}" class="cm-logo"></a></div>
    <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
</nav>
<div id="cm-menu-content">
    <div id="cm-menu-items-wrapper">
        <div id="cm-menu-scroller">
            <ul class="cm-menu-items">
                <li th:each="menu,iterStat : ${menus}" th:object="${menu}" th:class="*{hasSubmenu}? 'cm-submenu' : '' " >
                    <a th:if="*{!hasSubmenu}" th:href="@{${menu.href}}" th:text="#{*{name}}" class="sf-brick">sdf</a>
                    <a th:if="*{hasSubmenu}" th:utext="#{*{name}}+'<span class=&quot;caret&quot; ></span>'" class="sf-window-layout">sdfa<span class="caret" ></span></a>

                    <ul th:if="*{hasSubmenu == true}" >
                        <li th:each="m : *{subMenu}" th:object="${m}">
                            <a th:href="@{/}" th:text="*{name}">aaa</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>
</div>
<!--<div id="cm-menu-content">-->
<!--<div id="cm-menu-items-wrapper">-->
<!--<div id="cm-menu-scroller">-->
<!--<ul class="cm-menu-items">-->
<!--<li class="active"><a href="index.html" class="sf-house">Home88</a></li>-->
<!--<li><a href="dashboard-sales.html" class="sf-dashboard">Dashboard</a></li>-->
<!--<li><a href="components-text.html" class="sf-brick">Components</a></li>-->
<!--<li class="cm-submenu">-->
<!--<a class="sf-window-layout">Navbar layouts <span class="caret"></span></a>-->
<!--<ul>-->
<!--<li><a href="layouts-breadcrumb1.html">1st nav breadcrumb</a></li>-->
<!--<li><a href="layouts-breadcrumb2.html">2nd nav breadcrumb</a></li>-->
<!--<li><a href="layouts-tabs.html">2nd nav tabs</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--<li class="cm-submenu">-->
<!--<a class="sf-cat">Icons <span class="caret"></span></a>-->
<!--<ul>-->
<!--<li><a href="ico-sf.html">Small-n-flat</a></li>-->
<!--<li><a href="ico-md.html">Material Design</a></li>-->
<!--<li><a href="ico-fa.html">Font Awesome</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--<li><a href="notepad.html" class="sf-notepad">Text Editor</a></li>-->
<!--<li><a href="login.html" class="sf-lock-open">Login page</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

</body>
</html>