<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>table</title>
    <head th:include="~{layout/htmlhead::head}"></head>
</head>
<body class="cm-no-transition cm-1-navbar">
<div th:replace="~{layout/menu::menu}">menu</div>
<div th:replace="~{layout/head::header}">menu</div>
<div id="global">
    <div th:replace="~{layout/global::global}">global</div>

    <!--<div class="container-fluid">-->
        <!--<div class="row cm-fix-height">-->

            <!--<table id="table1" class="table table-bordered">-->

                <!--<tr th:each="payPo : ${payPos}" th:object="${payPo}">-->
                    <!--<td th:text="*{payName}"></td>-->
                    <!--<td th:text="*{payMoney}"></td>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="btn-group">-->

    <div class="container-fluid">
        <div class="row cm-fix-height">

            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Success <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>

                    <th th:text="#{menu.href}"></th>
                    <th>Column heading</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="payPo,iterStat : ${payPos}" th:object="${payPo}" th:class="${iterStat.count % 2 == 0}? 'active' : 'success'">
                    <td scope="row" th:text="${iterStat.count}"></td>
                    <td th:text="*{payName}"></td>
                    <td th:text="*{payMoney}"></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
</div>

</div>
<div th:replace="~{layout/foot::footer}">menu</div>


</body>
</html>