<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

<title>Login1</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap-clearmin.min.css"
      th:href="@{~/css/bootstrap-clearmin.min.css}" />
<link rel="stylesheet" type="text/css" href="css/roboto.css" th:href="@{~/css/roboto.css}" />
<link rel="stylesheet" type="text/css" href="css/material-design.css" th:href="@{~/css/material-design.css}" />
<link rel="stylesheet" type="text/css" href="css/small-n-flat.css" th:href="@{~/css/small-n-flat.css}" />
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" th:href="@{~/css/font-awesome.min.css}" />
</head>